In [1]:
import pandas as pd

In [2]:
psg_players = pd.Series(['Navas','Mbape', 'Neymar','Messi'], index=[1,7,10,30])
psg_players

1      Navas
7      Mbape
10    Neymar
30     Messi
dtype: object

In [3]:
pd.Series(['Navas','Mbape', 'Neymar','Messi'])

0     Navas
1     Mbape
2    Neymar
3     Messi
dtype: object

In [5]:
dict = {1:'Navas',7:'Mbape',10:'Neymar',30:'Messi'}

In [6]:
pd.Series(dict)

1      Navas
7      Mbape
10    Neymar
30     Messi
dtype: object

In [8]:
psg_players[1]

'Navas'

In [9]:
dict_ps = {"jugador": ['Navas','Mbape','Neymar','Messi'],
'Altura': [183.0,170.0,170.0,165.4],
'Goles': [2,200,250,300]}

In [11]:
df_players = pd.DataFrame(dict_ps,index=[1,7,10,30])
df_players

   jugador  Altura  Goles
1    Navas   183.0      2
7    Mbape   170.0    200
10  Neymar   170.0    250
30   Messi   165.4    300

In [12]:
df_players.columns

Index(['jugador', 'Altura', 'Goles'], dtype='object')

In [13]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')